<footer class="footer">
  <app-footer-list [title]="'Helm'">
    <li><a class="reverse" target="_blank" href="https://helm.sh/">What is Helm?</a></li>
    <li><a class="reverse" target="_blank" href="https://github.com/kubernetes/helm#docs">Documentation</a></li>
    <li><a class="reverse" target="_blank" href="https://github.com/kubernetes/helm/wiki">Wiki</a></li>
  </app-footer-list>
  <app-footer-list [title]="'Kubernetes'">
    <li><a class="reverse" target="_blank" href="https://kubernetes.io/">What is Kubernetes?</a></li>
    <li><a class="reverse" target="_blank" href="https://kubernetes.io/docs/home/">Documentation</a></li>
    <li><a class="reverse" target="_blank" href="https://kubernetes.io/docs/home/">Wiki</a></li>
  </app-footer-list>
</footer>
